<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Grid class</title>
  </head>
  <body>
    <div class="grid">
      <div class="grid-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dicta
        perspiciatis minima tenetur nisi repudiandae ab sequi consequatur
        doloremque cupiditate, cum nemo asperiores tempora voluptatum incidunt
        hic. Sunt, qui? Consectetur.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio
        soluta harum illum similique, ipsum sapiente aspernatur officia, libero
        sunt enim accusantium aut recusandae. Voluptatum eveniet velit magni
        natus accusamus!
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
        molestiae, optio dolor natus corporis at nesciunt perferendis ipsam
        voluptate dolorem fugit quibusdam provident voluptatibus est in. Aperiam
        voluptas magni et?
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
        exercitationem consequatur doloribus repellendus! Dolore modi nam
        tempore dolor sapiente nihil earum? Officiis id iusto odio rerum in quis
        impedit molestias?
      </div>
      <div class="grid-item">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum
        voluptates excepturi tempora adipisci doloribus quam quisquam autem
        dolore eaque illum voluptatum a possimus odit aliquam nobis architecto,
        itaque nemo tenetur!
      </div>
      <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sequi
        dolores labore illum. Voluptatibus necessitatibus velit dolorum
        praesentium sed doloribus eaque aspernatur quod facere repellendus nulla
        rerum fuga, cum placeat!
      </div>
    </div>
  </body>
</html>
