<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/media_queries.css" type="text/css" />
  </head>
  <body>
    <main>
      <section class="blog">
        <section class="blog_posts">
          <h2 class="blog_title">News</h2>
          <article class="blog_post">
            <h2>First blog post</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              necessitatibus asperiores dolorum distinctio. Eaque cum obcaecati
              quam eos eveniet deleniti, provident explicabo. Fuga repudiandae
              iusto laborum explicabo? Enim, explicabo. Et!
            </p>
          </article>
          <article class="blog_post">
            <h2>Second blog post</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cum
              ullam possimus deserunt temporibus reiciendis, quasi eum ipsum
              ducimus rem! Commodi nobis, rem nemo eius illo quibusdam molestiae
              laborum eaque.
            </p>
          </article>
          <article class="blog_post">
            <h2>Third blog post</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
              blanditiis expedita culpa fuga nesciunt cumque mollitia magni
              perferendis. Quaerat vel molestias repellendus facere. Doloribus
              nesciunt fugit minus magnam? Obcaecati, similique.
            </p>
          </article>
        </section>
        <aside class="sidebar">
          <h2 class="sidebar_title">Some title</h2>
          <ul>
            <li class="sidebar_item">One</li>
            <li class="sidebar_item">Two</li>
            <li class="sidebar_item">Three</li>
            <li class="sidebar_item">Four</li>
            <li class="sidebar_item">Five</li>
          </ul>
        </aside>
      </section>
    </main>
  </body>
</html>
<!-- kopiranje na prethoden red SHIFT + ALT + strelka nadole(primer) -->
