<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>SEMOS EDUKACIJA</h1>
      <img src="logo.jpg" alt="logo" />
      <form>
        <label for="search">Search:</label>
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search for anything"
        />
        <input type="submit" value="Go" />
      </form>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="">Our team</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="#kurseviAkademii">Popularni kursevi i akademii</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Akademii</h2>
        <article>
          <h3><span style="color: blue">Javascript</span> akademija</h3>
          <p>Se izucuvaat git, html, css, js</p>
          <div>
            <h4>Predavaci</h4>
            <ul>
              <li><p>Petko Petkovski</p></li>
              <li><p>Stojan Stojanovski</p></li>
              <li><p>Marko Markovski</p></li>
            </ul>
          </div>
        </article>
        <article>
          <h3>Python akademija</h3>
          <p>Se izucuvaat git, html, css, python</p>
        </article>
      </section>
      <section>
        <h2>Kursevi</h2>
        <article>
          <h3>C# kurs</h3>
          <p>Vremetraenje: 2 meseci</p>
        </article>
        <article>
          <h3>Html & CSS</h3>
          <p>Vremetraenje: 1 mesec</p>
        </article>
      </section>
    </main>

    <aside id="kurseviAkademii">
      <h2>Popularni kursevi i akademii</h2>
      <ol type="1">
        <li>Javascript akademija</li>
        <li>Python akademija</li>
        <li>C# kurs</li>
      </ol>
    </aside>
    <footer>
      <a href="">Contact</a>
      <p>2023 &copy SEMOS. All rights reserved</p>
    </footer>
  </body>
</html>
