<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Class of CSS</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet" />
    <!-- <style>
      img {
        width: 800px;
        height: 700px;
      }
      h1 {
        color: blue;
      }
    </style> -->
  </head>
  <body>
    <h1 class="heading">Heading1</h1>
    <h3 class="heading">Heading3</h3>
    <h4 class="heading">Heading4</h4>
    <h5 class="heading">Heading5</h5>
    <!-- <p style="color: red">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      facilis delectus doloremque veritatis sed iure soluta esse neque odit
      pariatur autem eos accusamus, repellendus nemo aliquam cupiditate, alias
      tempora asperiores.
    </p> -->
    <p id="greenParagraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ad
      magnam autem aliquam. Voluptatum a sed veritatis aliquam temporibus modi
      soluta, itaque quos illum alias, eveniet quibusdam officia? Vitae,
      possimus!
    </p>
    <p id="redParagraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolores
      vero obcaecati similique velit maiores, iusto aliquam illum animi nisi
      enim incidunt suscipit dolor, quidem facilis, officia rem voluptas minima.
    </p>
    <p id="blue-paragraph">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam vel
      repellat accusamus provident ducimus illum quae. Officia, ipsa
      voluptatibus dolorem placeat nam minima sit quibusdam facere numquam quos
      praesentium fuga.
    </p>
    <div style="background-color: brown">
      <p id="violetParagraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor inventore
        consectetur quo mollitia ut id atque exercitationem illum odit repellat.
        Quasi nemo est error dolorem voluptatem repellendus provident aut
        dolorum.
      </p>

      <ul>
        <li>Element1</li>
        <li>Element2</li>
        <li>Element3</li>
      </ul>
    </div>
    <img
      src="/assets/berlin-germany-october-30-actor-260nw-117289423.webp"
      alt="bondPic"
    />
    <div id="divElement">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
        culpa aliquid minus aspernatur maiores voluptatem beatae, dolor vero
        perferendis voluptatibus pariatur vel labore suscipit sunt repellat
        natus cupiditate neque repudiandae.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum neque
        dicta consequuntur fugit atque quo vero libero aliquid amet facilis
        animi nemo odit asperiores saepe iusto, dolorem temporibus autem nisi?
      </p>
    </div>

    <p id="last-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum similique
      quidem saepe accusantium fugiat eius, pariatur eum atque? Numquam ipsa
      nihil reprehenderit saepe repellat exercitationem, ducimus quae iure
      aliquid voluptatem?
    </p>
  </body>
</html>

<!-- vezba -->
<!-- 5 paragrafi so razlicni boi na pozadina i boja na tekst -->
