<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/transform.css" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="single-dice">
        <div class="single-dot centar"></div>
        <h2 class="dice_number">One</h2>
      </div>
      <div class="single-dice">
        <div class="single-dot top-left"></div>
        <div class="single-dot bottom-right"></div>
        <h2 class="dice_number">Two</h2>
      </div>
      <div class="single-dice">
        <div class="single-dot top-left"></div>
        <div class="single-dot centar"></div>
        <div class="single-dot bottom-right"></div>
        <h2 class="dice_number">Three</h2>
      </div>
      <div class="single-dice">
        <div class="single-dot top-left"></div>
        <div class="single-dot top-right"></div>
        <div class="single-dot bottom-left"></div>
        <div class="single-dot bottom-right"></div>
        <h2 class="dice_number">Four</h2>
      </div>
      <div class="single-dice">
        <div class="single-dot top-left"></div>
        <div class="single-dot top-right"></div>
        <div class="single-dot centar"></div>
        <div class="single-dot bottom-left"></div>
        <div class="single-dot bottom-right"></div>
        <h2 class="dice_number">Five</h2>
      </div>
      <div class="single-dice">
        <div class="single-dot top-left"></div>
        <div class="single-dot top-centar"></div>
        <div class="single-dot top-right"></div>
        <div class="single-dot bottom-left"></div>
        <div class="single-dot bottom-centar"></div>
        <div class="single-dot bottom-right"></div>
        <h2 class="dice_number">Six</h2>
      </div>
    </div>
  </body>
</html>
