<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style3.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <!-- elementi za display svojstvo da se pokaze -->
    <!-- <h1>Heading1</h1>
    <p>Paragraph1</p>
    <a href="">Link1</a>
    <a href="">Link2</a>
    <h2>Heading2</h2> -->
    <div class="glaven_div">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eaque quod
        rem cumque amet inventore aspernatur, quo ab id eum unde voluptate
        tempora eveniet ullam. Architecto ut nihil consequatur dignissimos?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
        pariatur ullam quas vitae exercitationem similique dolor quos maiores
        eum animi ad nisi aut dolores illo, voluptate velit? Corrupti, nisi
        maxime!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
        pariatur ullam quas vitae exercitationem similique dolor quos maiores
        eum animi ad nisi aut dolores illo, voluptate velit? Corrupti, nisi
        maxime!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
        pariatur ullam quas vitae exercitationem similique dolor quos maiores
        eum animi ad nisi aut dolores illo, voluptate velit? Corrupti, nisi
        maxime!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
        pariatur ullam quas vitae exercitationem similique dolor quos maiores
        eum animi ad nisi aut dolores illo, voluptate velit? Corrupti, nisi
        maxime!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
        pariatur ullam quas vitae exercitationem similique dolor quos maiores
        eum animi ad nisi aut dolores illo, voluptate velit? Corrupti, nisi
        maxime!
      </p>
      <div class="blue_div small_div"></div>
      <div class="green_div small_div"></div>
      <div class="yellow_div small_divv"></div>
    </div>

    <div class="sina_pozadina small_div"></div>

    <div class="round_img">
      <img src="/Pictures/spring.jpg" alt="spring" />
    </div>

    <ul class="lista">
      <li class="button"><button>A</button></li>
      <li class="button"><button>B</button></li>
    </ul>
  </body>
</html>
