<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <!-- PRIMER 1 Relative positioning -->
    <!-- <div class="box" id="one"></div>
    <div class="box" id="two"></div>
    <div class="box" id="three"></div>
    <div class="box" id="four"></div> -->

    <!-- PRIMER 2 Absolute positioning -->

    <!-- <div class="relative">
      <div class="absolute">
        <div class="absolute2">Nekakov tekst</div>
      </div>
    </div> -->

    <!-- Primer 3 - Fixed positioning -->

    <!-- <div class="outer_div">
      <h1>Some heading</h1>
      <p>Some paragraph</p>

      <div class="box">I will be fixed</div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos velit
        ratione expedita dolores eveniet, nam reiciendis, aliquid asperiores
        quidem eum numquam? Velit asperiores sequi veniam ea et eveniet dolorum
        architecto.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta
        rerum modi porro doloribus nisi vitae. Alias quidem quisquam iste
        asperiores laudantium facere libero necessitatibus dolorem quis ea,
        assumenda aliquam!
      </p>
    </div> -->

    <!-- Primer 4 - Sticky positioning -->

    <!-- <ul class="some_list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Prices</a></li>
    </ul>

    <div class="outer_div">
      <h1>Some heading</h1>
      <p>Some paragraph</p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos velit
        ratione expedita dolores eveniet, nam reiciendis, aliquid asperiores
        quidem eum numquam? Velit asperiores sequi veniam ea et eveniet dolorum
        architecto.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta
        rerum modi porro doloribus nisi vitae. Alias quidem quisquam iste
        asperiores laudantium facere libero necessitatibus dolorem quis ea,
        assumenda aliquam!
      </p>
    </div> -->

    <!-- Primer 5 - Z-INDEX -->
    <!-- <div>
      <h1>Z index primer</h1>
      <p class="text_under">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        voluptas distinctio eius rerum blanditiis cum velit ab corrupti,
        pariatur, dolorum necessitatibus nesciunt dicta autem, laboriosam
        reiciendis aspernatur quam? Facere, velit?
      </p>
      <img src="/assets/smiley.gif" alt="smiley" />
    </div> -->

    <!-- Primer 6 - Floating -->

    <section>
      <div class="right">1</div>
      <div class="left">2</div>
      <div class="left">3</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
        accusantium modi, non voluptas nostrum animi consequatur maiores
        obcaecati sint incidunt ipsum. Sit praesentium quam ducimus eaque veniam
        reiciendis harum totam!
      </p>
    </section>
  </body>
</html>
